{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si le mail est connu, nous t'envoyons un mail avec un lien te permettant de réinitialiser ton mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si tu ne reçois pas le message, jette un oeil dans tes spams ou <a href="{{ path('app_forgot_password_request') }}">essaye encore</a>.</p>
{% endblock %}
