{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}
    <div class="card mx-auto my-5" style="width: 40rem;">
        <h1 class="text-center m-3" >Toutes les catégories : </h1>
        <ul>
            {% for category in categories %}
                <a href="{{ path('category_show', {categoryName: category.name}) }}"><li>{{ category.name }}</li></a>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
