{% extends 'base.html.twig' %}

{% block title %}Mettre à jour une série{% endblock %}

{% block body %}
    <div class="text-center card mx-auto my-5" style="width:40rem;">
        <h1>Mettre à jour une série</h1>

        {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('program_index') }}">Retour à la liste</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}