{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter une Série{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="m-3">Ajouter une Série</h1>
        {{ form_start(form) }}
        <div class="form-group m-auto" style="width:20rem;">
            {{ form_widget(form) }}
        </div>
        <button class="btn btn-dark m-3" type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}