{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter un acteur{% endblock %}

{% block body %}
<div class="text-center card mx-auto my-5" style="width:40rem;">
    <h1 class="m-3">Ajouter un acteur</h1>
    {{ form_start(form) }}
    <div class="form-group m-auto" style="width:30rem;">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-dark m-3" type="submit">Ajouter</button>
{{ form_end(form) }}
{% endblock %}