// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&family=Waterfall&display=swap');

.row {
  --bs-gutter-x: 0;
}

.navbar {
background : #000000;
font-family: 'Big Shoulders Text', cursive;
font-size: 1.5rem;
}

.navbar img {
width: 10rem;
}

.ws-nav-item{
color: white;
}

.navbar a:hover {
color: #EBCD94;
}

.ws-nav {
font-family: 'Waterfall', cursive;
font-size: 3rem;
}

body {
background: url('../images/bg-popcorn.png');
}

.card {
background: #EBCD94;
}

footer {
background : #000000;
color: white;
}

